{% extends 'base.html.twig' %}


{% block body %}
This is project #{{ id }}  page. 

Project name is {{ project.name }}

<a href={{ path('project_edit', {id: project.id}) }}> Edit </a>

{% endblock %}